/*------ General selector-----  */
body {
    font-family: 'Roboto', sans-serif;
}

/* ------Utility selector-----  */

/* color zone  */
:root {
    --light: #ffffff;
    --dark: #000000;
}

/* dimension zone  */


/* Container zone  */

.container_form {
    min-height: 100vh !important;
}



/* Cards side  */

h1 {
    color: #adadad;
    text-shadow: 1px 2px 3px rgb(52, 52, 52);
}

.container_card {
    overflow-y: auto;
    background-image: url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2019/06/25/10/las-vegas-strip.jpg);
    background-size: cover;
    background-position: center;
}

.my_card {
    filter: drop-shadow(1px 2px 3px rgb(54, 54, 54));
    min-height: 350px;
    background-color: rgba(0, 0, 0, 0.503);
    color: #adadad;
    border-color: #adadad;

}