/*------ General selector-----  */
body {
    font-family: 'Roboto', sans-serif;
}

/* ------Utility selector-----  */

/* color zone  */
:root {
    --light: #ffffff;
    --dark: #000000;
}

/* dimension zone  */


/* Container zone  */

.container_form {
    min-height: 100vh !important;
}


.container_card {
    overflow-y: auto;
}

.my_card {
    filter: drop-shadow(1px 2px 3px black);
    min-height: 350px;
}